@import "bootstrap/bootstrap";
@import 'mixin.less';

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
@font-size : 1.4rem;

@font-family-default : 'Quicksand', sans-serif;
@font-size-default : 1.5rem;
@bg-body-color : lighten(#9FA1A3, 20%);

@color-black : darken(#161E28, 5%);
@color-red : #BB113D;
@color-green : #1F3F33;
@color-purple : #2E1F3F;
@color-blue: #337AB7;

@color-action: #3338B7;
@color-broadcast: #337AB7;
@color-creative: #33B7B2;
@color-event: #38B733;
@color-intangible: #7AB733;
@color-medical: #B7B233;
@color-organization: #B77033;
@color-person: #B73338;
@color-place: #B7337A;
@color-product: #B233B7;

@color-grey : #9FA1A3;

@margin : 1rem;
@padding : 0.5rem;

@width-wrapper	: 90%;

.bg-red{
    background-color: @color-red;
}
.bg-blue{
    background-color: @color-blue;
}

body, label, .checkbox label {
    font-weight: 400;
}

.pagination{
    margin: 0.5rem 0;
}

#my-cards{
    .card{
        position: relative;
        display: inline-block;
        background-color: @bg-body-color;
        width: 350px;
        height: 350px;
        margin: 1rem 1rem 0 0;
        overflow: hidden;
        
        &.Action{
            background: lighten(@color-action, 40%);
        }
        &.BroadcastService{
            background: lighten(@color-broadcast, 40%);
        }
        &.CreativeWork{
            background: lighten(@color-creative, 40%);
        }
        &.Event{
            background: lighten(@color-event, 40%);
        }
        &.Intagible{
            background: lighten(@color-intangible, 40%);
        }
        &.MedicalEntity{
            background: lighten(@color-medical, 40%);
        }
        &.Organization{
            background: lighten(@color-organization, 40%);
        }
        &.Person{
            background: lighten(@color-person, 40%);
        }
        &.Place{
            background: lighten(@color-place, 40%);
        }
        &.Product{
            backgroud: lighten(@color-product, 40%);
        }
        
        .text-content{
            padding: 2*@padding;
        }

        h4{
            margin-bottom: 0.7rem;
        }
        
        .nav-card{
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            opacity: 0;
            display: block;
            margin: 0;
            padding: 0;
            .transition(opacity, 1s, ease-out, 0s);

            li{
                margin-bottom: 0.4rem;

                .link-nav-card{
                    width: 3rem;
                    height: 3rem;
                    color: lighten(@bg-body-color, 15%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 2px solid lighten(@bg-body-color, 15%);
                }
            }
        }

        &:hover .nav-card{
            opacity: 1;
        }
        
        .cat-list{
            margin: 0.7rem;
            padding: 0;
            
            li{
                display: inline-block;
                margin: 0 0.4rem;
            }
        }
        
        .image-prop{
            width: 100%;
            height: 233px;
            background-size: cover;
            
            &.image-multiple{
                height: 153px;
            }
        }
        
        .list-image{
            margin: 0;
            padding: 0;
            display: flex;
            max-height: 80px;
            
            li{
                cursor: pointer;
                overflow: hidden;
                border: 2px solid lighten(@bg-body-color, 15%);
            }
        }
    }
}
