@import "bootstrap/bootstrap";
@import 'mixin.less';

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
@font-size : 1.4rem;

@font-family-default : 'Quicksand', sans-serif;
@font-size-default : 1.5rem;
@bg-body-color : lighten(#9FA1A3, 20%);

@color-black : darken(#161E28, 5%);
@color-red : #351A21;
@color-green : #1F3F33;
@color-purple : #2E1F3F;

@color-grey : #9FA1A3;

@margin : 1rem;
@padding : 0.5rem;

@width-wrapper	: 90%;

body, label, .checkbox label {
	font-weight: 300;
}

.card{
    background-color: #EEE;
    border-radius: 1rem;
    height: 250px;
}

.row{
    margin-bottom: 1rem;
}